# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
*.sqlite3
*.db
*.log
*.env
.env.*

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Local vector store and metadata
.chroma/
faiss_store/
# Local database and personal files
/db/
The Almanack of Naval Ravikant PDF.pdf
.vercel

# Local Netlify folder
.netlify

# React frontend
/frontend/node_modules
/frontend/dist
